@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.promo-title{
    font-size: 45px;
    font-weight: 600;
    margin-top: 75px;

}
.btn-primary{
    box-shadow: none !important;
    padding: 8px 25px;
    border-radius: 5px !important;
    border: 2px solid #3c366b !important;
    color: #3c366b !important;
    background: none !important;
}

.btn-primary:hover{
    background: #6b62af !important;
    color: white !important;
    border: 3px solid white !important;
}

#life{
    padding: 40px 0;
    color: #3c366b;
}
.title::before{
    content: '';
    background: #3c366b;
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 55px;
    transform: translateY(46px);
}

ul{
    list-style-type: style type b; ;
    font-weight: lighter;
    
}

ul li{
    padding: 5px;
    font-weight: 340;
    columns: black;
}

.thead{
    background-color: black;
}